@import url('https://fonts.googleapis.com/css2?family=Fondamento&display=swap');

header {
    margin: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav {
    font-size: 20px;
}

h1 {
    color: #51695B;
    font-family: 'Fondamento', 'Helvetica';
}

h5 {
    margin-bottom: 3em;
    color: #51695B;
}

.nav-link {
    color: black !important;
}

.nav-item {
    margin: 0 1em;
    padding: 5px;
}

 .nav-item:hover {
    border-bottom: 3px solid #9eb5a8;
}

.activeLink {
    border-bottom: 3px solid #9eb5a8;
} 

content {
    display: flex;
    justify-content: center;
    width: 95vw;
    margin: 2rem 2.5vw;
}

#carouselExampleControls {
    width: 95vw;
    margin: 0 2.5vw;
}

.carousel-control-next, .carousel-control-prev {
    background: #51695B !important;
    width: 3%;
    border-radius: 5px;
}

.carousel-item {
    float: center;
}

.d-block {
    height: auto;
    width: auto !important;
    max-height: 80vh;

    display: block;
    margin: auto;
}

#gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
    margin: 2% 5%;
    justify-content: center;
}

.figure {
    display: block;
    width: 50%;
    padding: 0 10%;
}

.galleryImg {
    width: 90%;
    height: 90%;
}

img.galleryImg:hover {
    opacity: .5;
    cursor: pointer;
}

.carousel-caption {
    background: #9eb5a8;
    opacity: .75;
    padding: 5px;
    border-radius: 5px;
}

.carousel-caption {
    color: black;
    opacity: 1;
    width: 50%;
    margin: 0 25%;
    position: initial;
}